/.venv
/.vscode
/Bank
/CodeSprint
/degrees
/Fairlight Sound Library
/first-project.css
/flights.html
/initialsFromName.js
/IntelliJIDEA_ReferenceCard.pdf
/leetcode
/mba
/sih23
/strangerthings.jpg
/stringOperations.js
/tictactoe
/todaysEntries.js
/university